In [1]:
from google.colab import files
uploaded = files.upload()

Saving australian_postcodes.csv to australian_postcodes (2).csv

In [2]:
import io
import pandas as pd

df = pd.read_csv(io.BytesIO(uploaded['australian_postcodes.csv']))

In [3]:
df

          id  postcode  ...              sa4name region
0        230       200  ...                  NaN     R1
1      21820       200  ...                  NaN     R1
2        232       800  ...               Darwin     R1
3        233       801  ...               Darwin     R1
4        234       804  ...               Darwin     R1
...      ...       ...  ...                  ...    ...
18270  11185      9010  ...  Brisbane Inner City     R1
18271  11186      9013  ...  Brisbane Inner City     R1
18272  11187      9015  ...  Brisbane Inner City     R1
18273  11196      9464  ...     Brisbane - North     R1
18274  11197      9726  ...           Gold Coast     R2

[18275 rows x 14 columns]

In [4]:
# list available states
df.state.unique()

array(['ACT', 'NT', 'SA', 'WA', 'NSW', 'VIC', 'QLD', 'TAS'], dtype=object)

In [5]:
# retrieve only victorian suburbs
vic_df = df.loc[df.state == 'VIC']

In [6]:
vic_df

          id  postcode        locality  ...    sa4                 sa4name  region
6103    4746      3000       MELBOURNE  ...  206.0       Melbourne - Inner      R1
6104    4747      3001       MELBOURNE  ...  206.0       Melbourne - Inner      R1
6105    4748      3002  EAST MELBOURNE  ...  206.0       Melbourne - Inner      R1
6106    4749      3003  WEST MELBOURNE  ...  206.0       Melbourne - Inner      R1
6107    4750      3004       MELBOURNE  ...  206.0       Melbourne - Inner      R1
...      ...       ...             ...  ...    ...                     ...     ...
18259  11309      8107       MELBOURNE  ...  206.0       Melbourne - Inner      R1
18260  11311      8111       MELBOURNE  ...  206.0       Melbourne - Inner      R1
18261  11312      8120       MELBOURNE  ...  206.0       Melbourne - Inner      R1
18262  11313      8205       MELBOURNE  ...  206.0       Melbourne - Inner      R1
18263  11331      8785       DANDENONG  ...  212.0  Melbourne - South East      R1

[3531 rows x 14 columns]

In [7]:
vic_df1 = vic_df[['postcode', 'locality', 'region']]
vic_df1

       postcode        locality region
6103       3000       MELBOURNE     R1
6104       3001       MELBOURNE     R1
6105       3002  EAST MELBOURNE     R1
6106       3003  WEST MELBOURNE     R1
6107       3004       MELBOURNE     R1
...         ...             ...    ...
18259      8107       MELBOURNE     R1
18260      8111       MELBOURNE     R1
18261      8120       MELBOURNE     R1
18262      8205       MELBOURNE     R1
18263      8785       DANDENONG     R1

[3531 rows x 3 columns]

In [8]:
vic_df1.dtypes

postcode     int64
locality    object
region      object
dtype: object

In [9]:
# Remove postcodes outside range of 3000s
vic_df1 = vic_df1.loc[vic_df1.postcode < 4000]
vic_df1

      postcode        locality region
6103      3000       MELBOURNE     R1
6104      3001       MELBOURNE     R1
6105      3002  EAST MELBOURNE     R1
6106      3003  WEST MELBOURNE     R1
6107      3004       MELBOURNE     R1
...        ...             ...    ...
9612      3995     WATTLE BANK     R3
9613      3995       WONTHAGGI     R3
9614      3995        WOOLAMAI     R3
9615      3996       INVERLOCH     R3
9616      3996     POUND CREEK     R3

[3507 rows x 3 columns]

In [10]:
r1 = vic_df1.loc[vic_df1.region == 'R1']
r1

      postcode          locality region
6103      3000         MELBOURNE     R1
6104      3001         MELBOURNE     R1
6105      3002    EAST MELBOURNE     R1
6106      3003    WEST MELBOURNE     R1
6107      3004         MELBOURNE     R1
...        ...               ...    ...
9554      3977     DEVON MEADOWS     R1
9555      3977         FIVE WAYS     R1
9556      3977  JUNCTION VILLAGE     R1
9557      3977         SANDHURST     R1
9558      3977              SKYE     R1

[539 rows x 3 columns]

In [11]:
r2 = vic_df1.loc[vic_df1.region == 'R2']
r2

      postcode       locality region
6603      3211   LITTLE RIVER     R2
6604      3212         AVALON     R2
6605      3212           LARA     R2
6606      3212   POINT WILSON     R2
6607      3213         ANAKIE     R2
...        ...            ...    ...
7125      3342       COLBROOK     R2
7126      3342   DURDIDWARRAH     R2
7127      3342      FISKVILLE     R2
7128      3342      INGLISTON     R2
7129      3342  MOUNT WALLACE     R2

[145 rows x 3 columns]

In [12]:
r3 = vic_df1.loc[vic_df1.region == 'R3']
r3

      postcode         locality region
6328      3097  BEND OF ISLANDS     R3
6329      3097  KANGAROO GROUND     R3
6330      3097    WATSONS CREEK     R3
6331      3099    ARTHURS CREEK     R3
6332      3099   COTTLES BRIDGE     R3
...        ...              ...    ...
9612      3995      WATTLE BANK     R3
9613      3995        WONTHAGGI     R3
9614      3995         WOOLAMAI     R3
9615      3996        INVERLOCH     R3
9616      3996      POUND CREEK     R3

[2823 rows x 3 columns]

In [24]:
pd.DataFrame.to_csv(r1, 'r1.csv')
pd.DataFrame.to_csv(r2, 'r2.csv')
pd.DataFrame.to_csv(r3, 'r3.csv')

In [13]:
# Remove postcodes outside range of 3000s
vic_df = vic_df.loc[vic_df.postcode < 4000]
vic_df

        id  postcode        locality  ...    sa4              sa4name  region
6103  4746      3000       MELBOURNE  ...  206.0    Melbourne - Inner      R1
6104  4747      3001       MELBOURNE  ...  206.0    Melbourne - Inner      R1
6105  4748      3002  EAST MELBOURNE  ...  206.0    Melbourne - Inner      R1
6106  4749      3003  WEST MELBOURNE  ...  206.0    Melbourne - Inner      R1
6107  4750      3004       MELBOURNE  ...  206.0    Melbourne - Inner      R1
...    ...       ...             ...  ...    ...                  ...     ...
9612  8520      3995     WATTLE BANK  ...  205.0  Latrobe - Gippsland      R3
9613  8521      3995       WONTHAGGI  ...  205.0  Latrobe - Gippsland      R3
9614  8522      3995        WOOLAMAI  ...  205.0  Latrobe - Gippsland      R3
9615  8523      3996       INVERLOCH  ...  205.0  Latrobe - Gippsland      R3
9616  8524      3996     POUND CREEK  ...  205.0  Latrobe - Gippsland      R3

[3507 rows x 14 columns]

In [21]:
pd.DataFrame.to_csv(vic_df, 'vic_postcodes.csv')

In [24]:
# Create function to do the same for NSW and QLD
def save_csv(state):
  df1 = df.loc[df.state == state]
  df1 = df1[['postcode', 'locality', 'region']]
  r1 = df1.loc[df1.region == 'R1']
  r2 = df1.loc[df1.region == 'R2']
  r3 = df1.loc[df1.region == 'R3']
  pd.DataFrame.to_csv(r1, f'{state}_r1.csv')
  pd.DataFrame.to_csv(r2, f'{state}_r2.csv')
  pd.DataFrame.to_csv(r3, f'{state}_r3.csv')

In [23]:
states = ['NSW', 'QLD']

In [25]:
for state in states:
  save_csv(state)